@import "base";

.footer {
  display: grid;
  grid-template-rows: 2fr 0.3fr;

  .info-section {
    background: #191919;
    height: 350px;
    display: grid;
    grid-template-rows: 0.4fr 1fr;

    .logo-section {
      text-align:center;
  
      h1 {
        padding: 0.5em 0;
      }
    }

    .category-section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0 3rem;

      h2, p {
        padding: 1rem 2rem;
        text-align: justify;
      }
    }
  }

  .media-section {
    background: $black;
  }
}
